@{
    ViewBag.Title = "My Reading Room";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>This application creates a virtual classroom where students can enter their reading log information. A teacher can then
    track student books, minutes read, and pages read.  There will be many other capabilities of this app.</p>
    
    
<p>The community page ...</p>