@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1 class ="red-font">My Reading Room</h1>

    <p class="lead">Manage your reading classroom log. Access individual student reading logs and view data for the students or the class.  Create your account here.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg button-green">Register Here &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2 class="red-font">I am the teacher</h2>
        <p>
           Here you can manage your classroom, give assignments, and organize your bookshelf
        </p>
        <p><a class="btn btn-primary btn-lg button-green" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2 class="red-font">I am a student</h2>
        <p>Log your reading minutes here.  You can also rate books and respond to teacher questions.</p>
        <p><a class="btn btn-primary btn-lg button-green" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2 class="red-font">View Community Page</h2>
        <p>Here you can see class reports, book lists, etc.</p>
        <p><a class="btn btn-primary btn-lg button-green" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>